# API URL (NestJS Backend)
NEXT_PUBLIC_API_URL="http://localhost:3001"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_jwt_secret_must_match_backend"

# Stripe Public Key
NEXT_PUBLIC_STRIPE_PUBLIC_KEY="pk_test_..."
