only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=bcrypt
only-built-dependencies[]=prisma
only-built-dependencies[]=unrs-resolver
